@import "../../styles/variables.scss";

.profile{
    cursor: pointer;
    display: flex;
    background: #F1F6FD;
    border-radius: 40px;
    padding: 4px 42px 4px 6px;
    background-image: url("../../assets/svg/arrow-close.svg");
    background-repeat: no-repeat;
    background-position: 90%;
    .profile-img{
        img{
            border: 3.5px solid white;
            border-radius: 100%; 
        }         
    }
    .profile-prop{
        margin-left: 10px;
        padding-top: 8px;
        line-height: 16px;
        &-name{
            font-size: 14px;
            // font-size: 10px;
            font-weight: 500;
            display: block;
            color: $grey;
        }
        &-role{
            font-size: 10px;
            // font-size: 8px;
            font-weight: 500;
            display: block;
            color: $grey-regular;
        }
    }
}