@import "../../styles/variables.scss";

.reachus{
    padding: 61px 71px;
    border: 1px solid #D2D2EB;
    border-radius: 14.64px;
    &-title{
        font-size: 43px;
        line-height: 43px;
        font-weight: 600;
        margin: 0 0 15px 0;
    }
    &-text{
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 40px;
    }
    &-form{
        &-label{
            font-size: 15px;
            font-weight: 500;
            line-height: 18.15px;
            margin-bottom: 20px;
            display: block;
        }
        &-textarea{
            position: relative;
            &-icon{
                position: absolute;
                left: 17px;
                top: 20.5px;
            }
            &-element{
                width: 100%;
                max-width: 100%;
                border: 1px solid #D9D9D9;
                background-color: #F9F9F9;
                border-radius: 12px;margin-bottom: 20px;
                padding: 20px 48px;
                box-sizing: border-box;
            }
        }
        &-button{
            text-align: center;
            button{
                width: 278px;
                max-width: 100%;
                &:disabled{
                    opacity: 0.5;
                }
            }
        }
    }
}

@media screen and (max-width: 720px) { 
    .reachus{
        padding: 35px;
        .reachus-title{
            font-size: 38px;
        }
    }
}

@media screen and (max-width: 640px) {
    .reachus{
        padding: 20px;
        .reachus-title{
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 12px;
            line-height: 22px;
        }
        .reachus-text{
            font-size: 16px;
            color: $grey-little-light;
            margin-bottom: 15px;
        }
        .reachus-form-textarea-element{
            margin-bottom: 10px;
        }
    }
}