@import "../../styles/variables.scss";

.shipper-modal.modal-wrapper{
    z-index: 11;
    .modal{       
        width: 1000px;
        height: 632px;
        max-height: 90%;
    }
    .shipper-modal-first-title{
        font-size: 35px;
        font-weight: 600;
        text-align: left;
    }
    .shipper-modal-second-title{
        font-size: 20px;
        font-weight: 500;
        text-align: left;
        margin-bottom: 45px;
    }
    .shipper-form{
        .row{
            margin-bottom: 20px;
        }
        .shipper-form-input{
            text-align: left;
            position: relative;
            .form-error{
                right: 20px;
            }
            .shipper-form-label{
                font-size: 15px;
                font-weight: 500;
                margin-bottom: 10px;
            }
            .input-text{
                width: 100%;
                padding: 5px;
                background-repeat: no-repeat;
                padding-left: 40px;
                background-position: 12px 12px;
            }
            .cheap__control{
                height: 47px;
                border: 1px solid #D9D9D9;
                border-radius: 12px;
                background-repeat: no-repeat;
                padding-left: 29px;
                background-position: 12px 11px;
            }
            .input-name{
                background-image: url("../../assets/svg/person2.svg");
            }
            .input-address{
                background-image: url("../../assets/svg/location-grey.svg");
            }
            .input-country{
                .cheap__control{
                    background-image: url("../../assets/svg/map-location.svg");
                }
            }
            .input-city{
                .cheap__control{
                    background-image: url("../../assets/svg/map-location.svg");
                }
            }
            .input-zip{
                background-image: url("../../assets/svg/zip.svg");
            }
            .input-contact-name{
                background-image: url("../../assets/svg/person2.svg");
            }
            .input-contact-phone{
                background-image: url("../../assets/svg/phone.svg");
            }
            .input-contact-email{
                background-image: url("../../assets/svg/mail.svg");
                background-position: 10px
            }
        }
        .contact-block{
            align-items: end;
            .contact-block-remove{
                button{
                    background: none;
                    border: none;
                }
            }
        }
        .contact-add{
            text-align: left;
            button{
                background: none;
                border: none;
                color: $blue-dark;
            }
        }
        .shipper-form-buttons{
            text-align: right;
            margin-top: 26px;
            .shipper-form-button-submit,
            .shipper-form-button-cancel{
                display: inline-block;
                vertical-align: middle;
                margin-left: 10px;
                width: 200px;
                max-width: 48%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .shipper-modal.modal-wrapper{
        .shipper-form{
            .shipper-form-input{
                margin-bottom: 7px;
            }
            .row {
                margin-bottom: 7px;
            }
        }
    } 
}

@media screen and (max-width: 640px) {
    .shipper-modal.modal-wrapper{
        .modal{
            padding: 30px 20px;
            max-height: 95%;
            height: 95%;
            .close-modal{
                right: 7px;
                top: 9px;
            }
        }
        .shipper-modal-first-title{
            font-size: 30px;
            margin-bottom: 12px;
        }
        .shipper-modal-second-title{
            color: $grey-little-light;
            font-weight: 400;
            margin-bottom: 35px;
        }
        .shipper-form{
            .shipper-form-buttons{
                text-align: center;
                .shipper-form-button-submit{
                    margin-left: 0;
                }                
                .shipper-form-button-cancel{
                    margin-left: 0;
                    margin-right: 2%;
                }
            }
        }
    } 
}